@import "~bootstrap/scss/bootstrap";
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
